.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

h1 {
    color: white;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;

}

.about p {
    padding-top: 2em;
    color: white;
    line-height: 2em;
    font-size: 2em;

}