.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    color: white;
}

.theLogo {
    display: flex;
    justify-content: center;
    align-items: start;

}

.theLogo img {
    width: 60%;
}

.info{
    background: url('./img/cover.png');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    align-items: center;
    padding: 0px 40px 0px 40px;
    text-align: center;
}

.info::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.info h2 {
    position: relative;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info p {
    position: relative;
}

.login {
     display: flex; 
     justify-content: center; 
     align-items: center; 
     flex-direction: column;
    padding: 110px 80px;
    background-color: rgba(62, 3, 65, 0.473);
    /* text-align: center; */

}

.login h2 {
    font-size: 2em;
}

.input {
    background-color: rgba(42, 67, 209, 0.192);
    width: 290px;
    height: 300px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.box {
    width: 100%;
    /* padding: 2px; */
}

.box input{
    height: 2em;
    width: 100%;
    outline: none;
    border-radius: 24px;
    border-width: 0px 0x 0px 5px;
    /* padding: 15px 35px; */
    background: transparent;
    color: white;

}

.box input::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

.loginBtn {
    width: 100%;
    height: 2em;
    background-color: rgb(93, 17, 179);
    border-color: 1px rgba(0, 0, 0, 0.137);
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    color: white;
}



@media (max-width: 990px){

    .container{
        width: 100%;
        /* height: 600px; */
        /* margin-top: 100px; */
    }
    
    .info {
        display: none;
    }

    form{
        width: max-content;
    }

}