.miheader {
    
        display: flex;
        /* min-height para mobile */
        height: 75px;
        background-color: rgba(87, 8, 151, 0.342);
        justify-content: space-between;
        align-items: center;
        /* /* padding-top: 5p */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-right: 20px;
}

.miheader:hover{
    background-color: rgba(22, 8, 73, 0.404);
    transition: 1s;
}

.logo {
    width: 13em;
    padding: 14px 0px 0px 20px;
}


.search input {
    height: 2em;
    width: 6em;
    border-radius: 50px;
}

.button {
    height: 2.3em;
    border-radius: 10px;
    background-color: rgba(83, 43, 226, 0.041);
    color: white;
    text-shadow: 2px 1px black;
    box-shadow: 1px 0.6px rgba(0, 0, 0, 0.562);
}

.button:hover {
    background-color: rgb(67, 170, 19);
    transition: 1s;
}

.logOut{
    color: blueviolet;
    text-decoration: none;
}

.logOut:hover{
    color: white;
}